* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    color: white;
    overflow-x: hidden;
    line-height: 1.3;
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 0.8rem;

}

.dark-bg {
    background-color: #0b0f2b;
}

.medium-bg {
    background-color: #1A1E3B;
}

.light-bg {
    background-color: #333554;
}

.primary-color {
    background-color: #1A237E;
}

.accent {
    color: #EB4A21;
}

.secondary-text {
    color: #e0e0e0;
}

a {
    color: #EB4A21;
    text-decoration: none;
}

a:visited {
    color: #EB4A21;
}

h1,
h2,
/* h3, */
.rubrik {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 30vw;
    left: -30vw;
    margin-top: 10vh;
    position: fixed;
    top: 0;
    z-index: 4;
    transition: left 1s;
}

.show {
    left: 0;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    justify-content: flex-start;
    z-index: 5;
    transition: all 1s;
}

header h1 {
    align-self: flex-end;
    font-size: 3rem;
    font-style: italic;
    max-height: 11vh;
}

.menu-button {
    width: 10%;
    height: 10vh;
    z-index: 6;
}

.burger {
    margin: 10px 30%;
    background-color: #EB4A21;
    height: 4px;
    width: 40%;
    border-radius: 1vw;
}

.animation-one {
    animation: first 0.75s forwards;
}

.reverse-one {
    animation: reverse-first 0.75s forwards;
}

.animation-two {
    animation: second 0.75s forwards;
}

.reverse-two {
    animation: reverse-second 0.75s forwards;
}

.animation-3 {
    animation: third 0.75s forwards;
}

.reverse-3 {
    animation: reverse-third 0.75s forwards;
}

@keyframes first {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(14px)
    }

    100% {
        transform: translateY(14px) rotate(45deg);
    }
}

@keyframes reverse-first {
    0% {
        transform: translateY(14px) rotate(45deg);
    }

    50% {
        transform: translateY(14px)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes second {
    0% {}

    50% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes reverse-second {
    0% {
        transform: rotate(-45deg)
    }

    50% {
        transform: rotate(0)
    }

    100% {}
}

@keyframes third {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-14px)
    }

    100% {
        transform: translateY(-14px) rotate(45deg);
    }
}

@keyframes reverse-third {
    0% {
        transform: translateY(-14px) rotate(45deg);
    }

    50% {
        transform: translateY(-14px)
    }

    100% {
        transform: translateY(0);
    }
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    transition: all 1s;
}

.visible {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}








/* För landing-page */
.landing-wrapper {
    width: 100%;
}

.landing-main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/raket_portrait.jpg);
    background-size: cover;
    background-position: 75% 25%;
    margin-bottom: 5vh;
}

.landing-image-scroller {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75vh;
    width: 100%;
    justify-content: space-around;
}

.carousel {
    width: 100%;
}

.slide-images {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.slide-images img {
    border-radius: 2vw;
}

.flickity-button {
    background: white;
}

.flickity-button:hover {
    background: #EB4A21;
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.flickity-page-dots .dot.is-selected {
    background: #EB4A21;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid #EB4A21;
}

.landing-links {
    height: 110vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.landing-links a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    width: 25vw;
    height: 80vh;
    overflow: hidden;
}

.landing-links a img {
    width: 100%;
    object-fit: fill;
}

.links-text {
    display: flex;
    min-width: 6vw;
    margin: 0 35vw;
    align-items: center;
    /* align-self: flex-start; */
}











/* 
    För news-sidan 
*/
.news {
    width: 100%;
    padding-top: 15vh;
}

.pre-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vw;
}

.pre-text h2 {
    padding: 2vh;
}


.card-wrapper {
    height: 175vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    margin: 0 3vw;
    padding-bottom: 1rem;
    border-radius: 3vw;
    border-style: solid;
    border-color: #EB4A21;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-2vh);
}

.card h3 {
    padding: 1vw;
}

.card p {
    padding: 0 1vw;
}

.card img {
    width: 100%;
    object-fit: contain;
}

#europa-card img {
    width: auto;
    height: 25vh;
}












/* 
    För about-sidan 
*/
.container {
    display: grid;
    width: 100%;
    grid-template-rows: 90vh 30vh 135vh 120vh;
    grid-template-columns: 35% 65%;
    padding-top: 10vh;
    grid-template-areas:
        't-img t-img'
        'hd hd'
        'cool img3'
        'txt txt'
}

.tech-image {
    grid-area: t-img;
    background-image: url(../img/earth.jpg);
    background-size: cover;
}

.section-header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0 0 50px black, 0 0 50px black;
}

.section-header h1 {
    align-self: auto;
}

.cool-part {
    grid-area: cool;
}

.sticky {
    padding: 0 2vw;
    position: sticky;
    top: 10vh;
}

.third-image h3,
.third-image p,
.sticky p,
.sticky h3 {
    padding: 0 1.5vw;
}

.sticky img,
.third-image img {
    width: 100%;
    border-radius: 2vw;
}

.third-image {
    padding: 0 2vw;
    grid-area: img3;
}

.last-part {
    grid-area: txt;
}

.text {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(20vw);
    opacity: 0;
    transition: all 1s;
}

.text div {
    width: 50%;
}

.text img {
    height: 100%;
    border-radius: 2vw;
}

.text.show {
    transform: translateX(0);
    opacity: 1;
}







/* 
    För sol-system-sidan 
*/
.planets-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-top: 10vh;
    height: 100vh;
    overflow-y: hidden;
}

.sun {
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(250px) translateY(250px) translate(-50%, -50%);
}

.orbit {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(calc(var(--radius) - 50px)) translateY(calc(var(--radius) - 50px));
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    border-color: #e0e0e0;
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
}

.planet img {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(calc(cos(var(--angle)) * var(--radius) * -1)) translateY(calc(sin(var(--angle)) * var(--radius) * -1)) translate(-50%, -50%) translateX(calc(var(--width) - 50px)) translateY(calc(var(--width) - 50px));
    width: var(--width);
    transition: all 1.5s;
}

.planet h2 {
    display: none;
}

.planet p {
    position: absolute;
    width: 30vw;
    color: transparent;
    transform: translate(30vw, 45vh) translate(-50%, -50%);
    transition: all 1s;
}

.zoom img {
    --width: 50vh;
    transform: translateY(calc(var(--width) - 45vh)) translate(-50%, -50%);
    z-index: 4;
}

.zoom#saturn img {
    --width: 70vh;
    transform: translateY(calc(0.5 * var(--width) - 45vh)) translate(-50%, -50%);
}

.zoom p {
    z-index: 4;
    color: white;
}


#mercury {
    --radius: 220px;
    --angle: 15deg;
    --width: 120px;
}

#venus {
    --radius: 330px;
    --angle: 60deg;
    --width: 90px;
}

#earth {
    --radius: 440px;
    --angle: 30deg;
    --width: 150px;
}

#mars {
    --radius: 550px;
    --angle: 5deg;
    --width: 140px;
}

#jupiter {
    --radius: 650px;
    --angle: 34deg;
    --width: 200px;
}

#saturn {
    --radius: 790px;
    --angle: 20deg;
    --width: 240px;
}

#saturn img {
    transform: translateX(calc(cos(var(--angle)) * var(--radius) * -1)) translateY(calc(sin(var(--angle)) * var(--radius) * -1)) translate(-50%, -50%) translateX(calc(var(--width) - 50px)) translateY(calc((0.5 * var(--width)) - 50px));
}

#uranus {
    --radius: 920px;
    --angle: 7deg;
    --width: 150px;
}

#neptune {
    --radius: 1050px;
    --angle: 17deg;
    --width: 150px;
}

.fade-layer2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    transition: background-color, 1s;
}

.fade-layer2.zoom {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}










@media screen and (max-width: 600px) {

    .menu {
        width: 70vw;
        left: -70vw;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 1rem;
    }

    .menu.show {
        left: 0;
    }

    .menu-button {
        width: 10vh;
        padding-top: 10px;
    }

    .burger {
        margin: 13px 25%;
        width: 50%;
    }

    @keyframes first {
        0% {
            transform: translateY(0)
        }

        50% {
            transform: translateY(17px)
        }

        100% {
            transform: translateY(17px) rotate(45deg);
        }
    }

    @keyframes reverse-first {
        0% {
            transform: translateY(17px) rotate(45deg);
        }

        50% {
            transform: translateY(17px)
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes third {
        0% {
            transform: translateY(0)
        }

        50% {
            transform: translateY(-17px)
        }

        100% {
            transform: translateY(-17px) rotate(45deg);
        }
    }

    @keyframes reverse-third {
        0% {
            transform: translateY(-17px) rotate(45deg);
        }

        50% {
            transform: translateY(-17px)
        }

        100% {
            transform: translateY(0);
        }
    }







    .landing-image-scroller {
        height: auto;
    }

    .slide-images {
        box-sizing: border-box;
        padding: 0 10vw;
        height: auto;
    }

    .slide-images img {
        max-width: 100%;

    }

    .landing-links a {
        width: 70vw;
        height: 60vh;
        margin: 20px;
        border-radius: 3vw;
    }





    .pre-text {
        padding: 0 10%;
    }

    .card-wrapper {
        height: auto;
    }

    .card {
        width: 70vw;
        border-radius: 3vw;
        margin: 4vh 3vw;
    }

    .card h3 {
        padding: 3vw;
    }

    .card p {
        padding: 0 3vw;
    }

    #europa-card img {
        height: 17vh;
    }






    .container {
        display: grid;
        width: 100%;
        grid-template-rows: 90vh 30vh 80vh 85vh auto;
        grid-template-columns: 100%;
        padding-top: 10vh;
        grid-template-areas:
            't-img'
            'hd'
            'img3'
            'cool'
            'txt'
    }

    .sticky {
        position: relative;
    }

    .sticky h3,
    .sticky p,
    .third-image h3,
    .third-image p {
        padding: 1vh 5%;
    }

    .last-part {
        grid-area: txt;
        overflow-x: hidden;
    }

    .text {
        height: auto;
        padding: 5vh 0;
        flex-wrap: wrap;
        align-items: normal;
        transform: translateX(30vw);
    }

    .text div {
        width: 90%;
        margin: 2vh 0;
    }

    .text div h3 {
        margin: 2vh 0;
    }

    .text img {
        width: 100%;
        height: auto;
        border-radius: 10vw;
    }

    #text3 img {
        align-self: flex-start;
    }







    .planets-wrapper {
        height: auto;
        width: 100%;
        overflow: hidden;
    }

    .sun {
        position: absolute;
        bottom: auto;
        right: auto;
        width: max-content;
        max-width: 100vw;
        transform: translate(50vw, -5vh) translate(-50%, -50%);
        margin-bottom: 10vh;
    }

    .orbit {
        position: static;
        transform: none;
        border-radius: 0;
        border-width: 1px;
        border-color: #EB4A21;
        width: 100%;
        height: 0px;
        margin-bottom: 5vh;
    }

    .planet {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        width: 100%;
        padding: 6vh 0;
    }

    .planet h2 {
        display: block;
    }

    .planet img {
        position: static;
        transform: none;
        width: 40%;
        z-index: 0;
    }

    .planet p {
        position: static;
        transform: none;
        color: white;
        width: 90%;
    }

    #mercury {
        margin-top: 18vh;
    }

    #saturn img {
        transform: none;
    }

    .fade-layer2 {
        display: none;
    }
}